#=====1、后端SpringBoot（IDEA专用，你原来的内容全部保留）=====
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDEA配置（后端用IDEA，全忽略）
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


#前端依赖（几十MB必忽略）
frontend/node_modules/
frontend/package-lock.json
frontend/yarn.lock
frontend/pnpm-lock.yaml
#打包产物
frontend/dist/
frontend/.vite/
frontend/dist-ssr/

frontend/.env
frontend/.env.local
frontend/.env.*.local
#前端日志
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/pnpm-debug.log*
frontend/coverage/

#VSCode全项目配置
.vscode/


application-dev.yml
application-local.yml


#数据库备份文件、本地库
*.sql.bak
*.dump
*.db
*.sqlite
db_backup/
data/
#密钥文件
*.pem
*.key
secrets.properties

#=====4、系统通用垃圾、日志=====
.DS_Store
Thumbs.db
*.log
logs/
